@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$Very-Light-Grayish-Blue: hsl(240, 78%, 98%);
$Light-Grayish-Blue: hsl(234, 14%, 74%);
$Grayish-Blue: hsl(233, 13%, 49%);
$Dark-Grayish-Blue: hsl(232, 13%, 33%);

body {
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  background-color: $Very-Light-Grayish-Blue;
  background-image: url("../images/bg-top.svg"), url("../images/bg-bottom.svg");
  background-position: right top, left bottom;
  background-repeat: no-repeat, no-repeat;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.heading {
  width: 100%;
  padding: 1.6rem;
  color: $Dark-Grayish-Blue;
}

.sub-select {
  display: flex;
  justify-content: center;
  align-items: center;

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    input {
      display: none;
    }
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 34px;
    background-color: #ccc;
    transition: 0.4s;
    &::before {
      position: absolute;
      content: "";
      height: 22px;
      width: 22px;
      left: 5px;
      bottom: 5px;
      background-color: white;
      transition: 0.4s;
      border-radius: 50px;
    }
  }
}

input:checked + .slider {
  background-color: hsl(237, 63%, 64%);
}

input:checked + .slider:before {
  transform: translateX(28px);
}

.sub-select label {
  padding: 0.3rem;
  font-weight: bold;
  color: $Grayish-Blue;
}

.price-tag {
  padding: 1.2rem;
  font-size: 2.8rem;
  font-weight: bold;
  border-bottom: 0.5px solid $Light-Grayish-Blue;
  color: $Dark-Grayish-Blue;
  display: flex;
  align-items: center;
  justify-content: center;
  .small {
    font-size: 1.6rem;
    margin: 0.2rem;
  }
}

.sub-cat {
  width: 75%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto 2rem auto;

  .basic {
    flex: 1;
    height: 400px;
    padding: 2rem;
    border-radius: 8px 0px 0px 8px;
    background-color: white;
    box-shadow: -4px 4px 12px $Light-Grayish-Blue;
  }

  .prof {
    flex: 1;
    height: 440px;
    background-image: linear-gradient(
      to right bottom,
      hsl(236, 72%, 79%),
      hsl(237, 63%, 64%)
    );
    color: white;
    border-radius: 8px;
    padding: 3.2rem 2rem 2rem 2rem;
    box-shadow: 0px 4px 12px $Light-Grayish-Blue;

    p {
      color: white;
      font-size: 0.8rem;
      padding: 1rem;
      border-bottom: 0.5px solid $Light-Grayish-Blue;
      font-weight: bold;
    }

    .price-tag {
      color: white;
      padding: 1.2rem;
      font-size: 2.8rem;
      font-weight: bold;
      border-bottom: 0.5px solid $Light-Grayish-Blue;
    }
  }

  .master {
    flex: 1;
    height: 400px;
    background-color: white;
    border-radius: 0px 8px 8px 0px;
    padding: 2rem;
    box-shadow: 4px 4px 12px $Light-Grayish-Blue;
  }
}

.head-light {
  color: $Grayish-Blue;
}

p {
  font-size: 0.8rem;
  padding: 1rem;
  border-bottom: 0.5px solid $Light-Grayish-Blue;
  color: $Grayish-Blue;
  font-weight: bold;
}

.bg-light {
  width: 100%;
  margin-top: 2rem;
  padding: 0.8rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-image: linear-gradient(
    to right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  color: $Very-Light-Grayish-Blue;
  cursor: pointer;
}

.bg-light:hover {
  background-color: transparent;
  background-image: none;
  color: hsl(237, 63%, 64%);
  border: 2px solid hsl(237, 63%, 64%);
}

.bg-dark {
  width: 100%;
  margin-top: 2rem;
  font-weight: bold;
  padding: 0.8rem;
  border: none;
  border-radius: 5px;
  background-color: white;
  color: hsl(237, 63%, 64%);
  cursor: pointer;
}

.bg-dark:hover {
  background-color: transparent;
  color: white;
  border: 2px solid white;
}

@media (max-width: 475px) {
  body {
    background-image: url("../images/bg-top.svg");
    background-size: 200px 20rem;
    background-position: top right;
    background-repeat: no-repeat;
  }
  .sub-cat {
    width: 100%;
    flex-direction: column;
  }

  .sub-cat .basic {
    width: 80%;
    border-radius: 8px;
    margin-bottom: 1rem;
  }

  .sub-cat .prof {
    width: 80%;
    border-radius: 8px;
    margin-bottom: 1rem;
  }

  .sub-cat .master {
    width: 80%;
    border-radius: 8px;
    margin-bottom: 1rem;
  }
}
